* {
  box-sizing: border-box;
  margin: 0;
}


html {
  height: 100%;

  font-family: "Cabin", sans-serif;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: max-content;
  height: 419px;
  padding: 36px;

  border-radius: 8px;
  background-color: #F9F9F9;
  box-shadow: 0 42px 76px 0 rgba(#000, 0.05), 
  0 27px 44px 0 rgba(#000, 0.038), 
  0 16px 24px 0 rgba(#000, 0.03), 
  0 8px 12px 0 rgba(#000, 0.025), 
  0 3px 6px 0 rgba(#000, 0.02), 
  0 1px 3px 0 rgba(#000, 0.01);
}

